.tbb{
   border-collapse: collapse;
transform: translateX(-200px);
/* height: 40px; */
height: max-content;
/* width: 900px; */
width: max-content;
background-color: rgb(0, 0, 0);
border-color: rgb(255, 255, 255);
color: white;
opacity: 0.5;


}

.btnc{
  background-color: transparent;
  border: none;
  color: white;
  margin-left: 20px;


}

.btnc:focus{
  outline: none;
}

.over{
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.8;
  background-color: rgb(14, 11, 11);
 
  position: fixed;
  z-index: -1;
}

body{
  background-image: url('panda.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 1800px 850px;
  overflow-x: hidden;
  overflow-y: scroll;
 
}

.btn{
  position: relative;
  left: 350px;
  top: 10px;
  width: 400px;

}

.act{
  text-align: center;
}

#ed{
  color: white;
}



