.err{
    color: red;
    display: inline-block;
}

.sd{
    text-decoration: none;
   color: white;
}

.inpt{
   height: 30px;
   width: 300px;
   padding: 5px;
   border-radius: 20px;
   text-indent: 5px;
   border: 2px solid black;
   margin: 20px;
   background-color: white;
   letter-spacing:5px;
   font-size: 13px;
   font-weight: bold;
  color: black;
  
   position: relative;



}

.inpt:focus{
    outline: none;
    
}

.inpt::placeholder{
    letter-spacing:5px;
  font-size: 13px;
  font-weight: bold;
color: black;


}

.sbmt{
  padding: 10px 60px;
  border-radius: 20px;
  border: none;
  outline: 2px solid red;
  letter-spacing:5px;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  left: 50px;
 color: white;
  background-color: red;
  opacity: 0.5;
 
  float: left;


}

.sbt1{
  padding: 10px 60px;
  border-radius: 20px;
  border: none;
  outline: 2px solid red;
  letter-spacing:5px;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  left: 50px;
 color: white;
  background-color: red;
  opacity: 0.5;
  margin: 5px;


}

.overlay{
  height: 100%;
  width: 100%;
  background-color: black;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  opacity: 0.6;

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 1720px 850px;
}

body{
  background-image: url('panda.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 1800px 850px;
  overflow: hidden;

}

.fmmv{
  transform:translate(400px,50px);
  height: 600px;
  /* height: 900px; */
  width: 900px;
 background-color: black;
 color: white;
  padding: 20px;
  border-radius: 20px;
  opacity: 0.5;
  

}

.inpts{
  height: 40px;
  width: 300px;
  padding: 5px;
  border-radius: 20px;
  
  text-indent: 5px;
  border: 2px solid black;
  margin: 20px;
  background-color: white;

  letter-spacing:5px;
  font-size: 13px;
  font-weight: bold;
 color: black;
 
  position: relative;
  z-index: 10;
  

}

.secdiv{

position: relative;
top: -590px;
transform: translate(880px,100px);
display: inline-block;
opacity: 0.5;

}

.bdv{
  padding: 10px 60px;
  border-radius: 20px;
  border: none;
  outline: 2px solid red;
  letter-spacing:5px;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  left: 240px;
 color: white;
  background-color: red;
  opacity: 0.5;
  margin: 5px;
  width: 70px;
  display: inline;
  top: -10px;
 

}

.bdv a{
  color: white;
  font-weight: bold;
  text-decoration: none;
  
}

#ssia{
  transform: translateY(10px);
}

#ml{
  position: relative;
  left: 400px;
  display: inline;
}

.heading{
  display: block;
  text-align: center;

}


